<header class="site-header" role="banner">
  <div class="wrap">
    <div class="brand">
      <img class="logo" src="/images/logo.svg" alt="CSE Motors logo" width="48" height="48" />
      <span class="brand-name">CSE Motors</span>
    </div>
    <p class="tagline">Quality vehicles. Honest service.</p>
  </div>
</header>
