<header class="site-header" role="banner">
  <div class="wrap">
    <div class="brand">
      <img class="logo" src="/images/logo.svg" alt="CSE Motors logo" width="48" height="48" />
      <span class="brand-name">CSE Motors</span>
    </div>

    <div class="header-right">
      <p class="tagline">Quality vehicles. Honest service.</p>
      <a class="btn outline account-link" href="/account/login" aria-label="My Account">My Account</a>
    </div>
  </div>
</header>
